* {
  box-sizing: border-box;
}


html {
  font-family: cereal-regular;
  line-height: 1.6;
  color: $clr2;
}

body {
  font-size: rem(18px);
  // margin: 0;
  // margin: auto;
  // background-color: blueviolet;
  background-color: aliceblue;
  overflow-x: hidden;
}

.App{
  // margin: 0;
  margin: auto;
  max-width: 1024px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: caveat;
  margin: 0 0 0.6em;
  line-height: 1;
}

section,
main,
footer {
  padding: 5px;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: #4f3a65;
}
a:hover {
  text-decoration: underline;
}
